@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for range input */
input[type='range'] {
  @apply appearance-none bg-white/30 rounded-full h-1;
}

input[type='range']::-webkit-slider-thumb {
  @apply appearance-none w-3 h-3 bg-white rounded-full cursor-pointer;
}

input[type='range']::-moz-range-thumb {
  @apply appearance-none w-3 h-3 bg-white rounded-full cursor-pointer border-0;
}

/* Animated gradient background */
.bg-gradient-animate {
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}